page-ambientes {
    img.icon{
        width: 50px;

    }
    ion-title.title
    {
        align-content: center;
    }
    div.monitoring
    {
        width: 100%;
        height: 30%;

        background-color: rgba(27, 26, 26, 0);
        float:top;

    }
    div.main_component
    {
        width: 100%;
        height: 70%;
        
    }
    div.componente
    {
        position: relative;
        width: 100px;
        height: 100px;
        background-color: blue;
        float: left;
    }
}
